/*
 * Obsisian Theme
 *
 * Based on the Brakcets Dark theme template - 
 * (https://github.com/adobe/brackets/blob/master/src/extensions/default/DarkTheme/main.less)
 */

/* Define some variables used in multiple places */
@background: #293134;
@foreground: #E0E2E4;

/* Code Styling */

.CodeMirror, .CodeMirror-scroll {
    background-color: @background;
    color: @foreground;
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background: @background;
}

&.show-line-padding .CodeMirror-focused .CodeMirror-activeline-background {
    box-shadow: inset 15px 0 0 0 #000;
}

.CodeMirror-focused .CodeMirror-activeline {
    .CodeMirror-gutter-elt {
        background: #616161;
        color: #fff;
    }
    .inline-widget .CodeMirror-gutter-elt {
        color: #293134;    
    }
}

/* Obsidian Colours */
.cm-keyword { color: #93C763; }
.cm-comment { color: #7D8C93; }
.cm-string, .cm-string-2 {color: #EC7600;}
.cm-variable, .cm-variable-2, .cm-variable-3 { color: #E0E2E4; }
.cm-tag { color: #678CB1; }
.cm-attribute { color: #93C763; }
.cm-property { color: #E0E2E4; }
.cm-number { color: #FFCD22; }
.cm-hr {color: #d89333;}
.cm-plus {color: #85a300;}
.cm-operator {color: #E8E2B7:} 
.cm-bracket {color: #E8E2B7;}
.cm-error {color: red;}
.cm-minus {color: #678CB1;}
.cm-header {color: #678CB1;}
.cm-link, {color: #678CB1;}
.cm-rangeinfo {color: #678CB1;}  
.cm-builtin, .cm-quote {color: #678CB1;}

/* Extra CSS */

.CodeMirror-selectedtext #{
  	background-color: #804000;
}

.CodeMirror-searching {
    background-color: #616161;
    &.searching-current-match {
        background-color: #616161;
    }
}

.CodeMirror-cursor {
    z-index: 5;
    border-left: 1px solid white;
}

.CodeMirror-gutters {
	background-color: @background;
}

.CodeMirror-linenumber {
	background: @background;
	color: #81969A;
}

.CodeMirror .CodeMirror-selected {
  	background: transparent;
}
.CodeMirror-focused .CodeMirror-selected {
  	background: transparent;
}

.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
    /* Ensure visibility against gray inline editor background */
    color: #dedede;
	outline: 1px solid #dedede;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    z-index: 5;
    border-left: 1px solid white;
}

/*
    CodeMirror's use of descendant selectors for certain styling causes problems when editors are
    nested because, for items in the inner editor, the left-hand clause in the selector will now
    match either the actual containing CodeMirror instance *OR* the outer "host" CodeMirror instance.

    TODO (issue #324): We'll still have problems if editors can be nested more than one level deep,
    or if any other descendant-selector-driven CM styles can differ between inner & outer editors
    (potential problem areas include line wrap and coloring theme: basically, anything in codemirror.css
    that uses a descandant selector where the CSS class name to the left of the space is something
    other than a vanilla .CodeMirror)
 */
.CodeMirror {
    .CodeMirror {
        background: transparent;
    }

    .CodeMirror .CodeMirror-gutters {
        background: transparent;
        border-right: none;
    }

    .CodeMirror .CodeMirror-activeline-background {
        background: transparent;
    }

    .CodeMirror .CodeMirror-activeline .CodeMirror-gutter-elt {
        background: transparent;
        color: #767676;
    }

    .CodeMirror-focused .CodeMirror-activeline-background {
        background: @background;
    }

    .CodeMirror-focused .CodeMirror-activeline {
        .CodeMirror-gutter-elt {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
        }
    }
}

/* Non-editor styling */

.image-view,
.not-editor {
    background-color: @background;
}

.view-pane .image-view {
    color: @foreground;
}
