/* Define some variables used in multiple places
http://eclipsecolorthemes.org/?view=theme&id=21*/
@background: #293134;
@foreground: #E0E2E4;
@oblue: #678CB1;
@oorange: #EC7600;
@ogreen: #93C763;
@opurple: #A082BD;
@ored: #dc322f;
@oyellow: #FFCD22;

/* Code Styling */

.CodeMirror, .CodeMirror-scroll {
    background-color: @background;
    color: @foreground;
}

.CodeMirror-focused .CodeMirror-activeline {
    .inline-widget .CodeMirror-gutter-elt {
        color: #616161;    
    }
}

/* Obsidian Colours */

.cm-atom {color: @ogreen;}
.cm-plus {color: @foreground;}
.cm-hr {color: @foreground;}
.cm-number {color: @oyellow;}
.cm-string {color: @oorange;}
.cm-string-2 {color: @oorange;} /* Figure out */
.cm-attribute {color: @ogreen;}
.cm-keyword {color: @ogreen;}
.cm-tag {color: @oblue;}
.cm-bracket {color: @oblue;}
.cm-variable {color: @foreground;}
.cm-variable-2 {color: @opurple;}
.cm-variable-3 {color: @foreground;}
.cm-builtin {color: @ogreen;}
.cm-quote {color: @foreground;} 
.cm-def {color: @opurple;}
.cm-rangeinfo {color: @foreground;}
.cm-property {color: @foreground;}
.cm-meta {color: @foreground;}
.cm-operator {color: @foreground;}
.cm-comment {color: #7D8C93;}
.cm-error {color: @ored;}
.cm-minus {color: @foreground;}
.cm-header {color: @foreground;}
.cm-link {color: @foreground; text-decoration: none;}

/* Extra CSS */
.CodeMirror-searching {
    background-color: #616161;
}

.CodeMirror-cursor {
    border-left: 1px solid @foreground !important;
}

.CodeMirror-gutters {
    background-color: @background;
    border-right: none;
}

.CodeMirror-linenumber {
    color: #81969A;
}

.CodeMirror .CodeMirror-selected {
    background: @foreground;
}
.CodeMirror-focused .CodeMirror-selected {
    background: #804000;
}

.CodeMirror-matchingbracket, .CodeMirror-matchingtag {
    background-color: #2F393C;
    color: @foreground !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none !important;
    border-bottom: 1px solid #fff;
}

/* Non-editor styling */
.image-view,
.not-editor {
    background-color: @background;
}

.view-pane .image-view {
    color: @foreground;
}